<div class="container bg-warning" style="height: 350px">
    <div class="row">
        <div class="col-lg-4 mt-3">
            <h4 class="text-light fw-bolder " routerLink=""><i class="fa-solid fa-graduation-cap me-2"></i>  CookPedia</h4>
            <h5 style="text-align: justify;" class="text-light">Discover 100+ recipes in your hand with the best recipe. Help you to find the easiest way to cook.</h5>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5 mt-3">
            <h3 class="text-light">
                Sign Up for our news letter
            </h3>
            <div class="d-flex mt-3 ">
                <input type="text" placeholder="Enter Your Email Id ..." class="form-control">
                <button style="background-color: orange;" class="btn text-light ms-2"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="row mt-4">
                <div class="col-4">
                    <h4 class="text-light mt-3">Links</h4>
                    <a routerLink="/" class="nav-link text-light active">Home</a>
                    <a routerLink="/recipes" class="nav-link text-light active">Recipe</a>
                    <a routerLink="/about" class="nav-link text-light active">About</a>
                    <a routerLink="/contact" class="nav-link text-light active">Contact</a>
                </div>
                <div class="col-4">
                    <h4 class="text-light mt-3">Help</h4>
                    <a routerLink="/login" class="nav-link text-light active">login</a>
                    <a routerLink="/register" class="nav-link text-light active">Register</a>
                    <a routerLink="/" class="nav-link text-light active">Terms of Use</a>
                    <a routerLink="/" class="nav-link text-light active">Privacy and policy</a>
                </div>
                <div class="col-4">
                    <h4 class="text-light mt-3">Links</h4>
                    <a routerLink="/" class="nav-link text-light active">facebook</a>
                    <a routerLink="/" class="nav-link text-light active">instagram</a>
                    <a routerLink="/" class="nav-link text-light active">LinkedIn</a>
                    <a routerLink="/" class="nav-link text-light active">Twitter</a>
                </div>
            </div>
        </div>
    </div>

</div>
